<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head ('Error')"></head>

<body>

<div th:replace="fragments/menu :: menu"></div>

<div class="container">
    <div class="row" th:if="${exception}">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    Error
                </div>
                <div class="card-body">
                    <h3 class="card-title">Debug information</h3>
                    <div class="card-text">
                        <p th:text="${exception.getMessage()}"></p>
                        <p th:text="'URL = ' + ${requestUrl}"></p>
                        <div>
                            <h5>Exception stack trace</h5>
                            <p th:each="stack : ${exception.getStackTrace()}" th:text="${stack.toString()}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="fragments/footer :: footer"></footer>
</div>

<th:block th:include="fragments/js :: assets"></th:block>

</body>
</html>