<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head (${scienceDegree.name})"></head>

<body>

<div th:replace="fragments/menu :: menu"></div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <form class="mb-3" th:action="@{/sciencedegree/update}" method="POST" th:object="${updateRequest}">
                <input type="hidden" name="id" th:value="${scienceDegree.id}" id="id">

                <div class="form-group">
                    <label for="name" th:text="#{form.science}"></label>
                    <input type="text" class="form-control" name="name" th:value="${scienceDegree.name}" id="name">
                </div>
                <button type="submit" class="btn btn-primary" th:text="#{button.update}"></button>
            </form>
            <form th:action="@{/sciencedegrees/delete}" th:method="DELETE">
                <input type="hidden" th:field="${scienceDegree.id}">
                <button type="submit" class="btn btn-danger" th:text="#{button.delete}"></button>
            </form>
        </div>
    </div>

    <footer th:replace="fragments/footer :: footer"></footer>
</div>

<th:block th:include="fragments/js :: assets"></th:block>
</body>
</html>
