<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head (${teacher.firstName} + ' ' + ${teacher.lastName})"></head>

<body>

<div th:replace="fragments/menu :: menu"></div>

<div class="container">
    <div th:insert="${error} ? ~{fragments/error :: error(${error})} : ~{}"></div>

    <div class="row">
        <div class="col-12">
            <form class="mb-3" th:action="@{/teachers/update}" th:method="DELETE" th:object="${updateRequest}">
                <input type="hidden" name="id" th:value="${teacher.id}" id="id">

                <div class="form-group">
                    <label for="email" th:text="#{form.email}"></label>
                    <input type="email" class="form-control" th:value="${teacher.email}" name="email" id="email"/>
                </div>
                <div class="form-group">
                    <label for="first-name" th:text="#{form.name}"></label>
                    <input type="text" class="form-control" th:value="${teacher.firstName}" name="firstName"  id="first-name">
                </div>
                <div class="form-group">
                    <label for="last-name" th:text="#{form.lastname}"></label>
                    <input type="text" class="form-control" th:value="${teacher.lastName}" name="lastName" id="last-name">
                </div>
                <div class="form-group">
                    <label for="linkedin" th:text="Linkedin"></label>
                    <input type="text" class="form-control" th:value="${teacher.linkedin}" name="linkedin" id="linkedin">
                </div>
                <div class="form-group">
                    <label for="science-id" th:text="#{form.science}"></label>
                    <select class="form-control" id="science-id" name="scienceDegreeId">
                        <option th:each="scienceDegree : ${scienceDegrees}"
                                th:value="${scienceDegree.id}"
                                th:text="${scienceDegree.name}"
                                th:selected="${teacher.scienceDegree.id == scienceDegree.id}"
                        ></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="academic-id" th:text="#{form.academic}"></label>
                    <select class="form-control" id="academic-id" name="academicRankId">
                        <option th:each="academicRank : ${academicRanks}"
                                th:value="${academicRank.id}"
                                th:text="${academicRank.name}"
                                th:selected="${teacher.academicRank.id == academicRank.id}"
                        ></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary" th:text="#{button.update}"></button>
            </form>
            <form th:action="@{/teachers/delete}" th:method="DELETE">
                <input type="hidden" th:field="${teacher.id}">
                <button type="submit" class="btn btn-danger" th:text="#{button.delete}"></button>
            </form>
        </div>
    </div>

    <footer th:replace="fragments/footer :: footer"></footer>
</div>

<th:block th:include="fragments/js :: assets"></th:block>
</body>
</html>
