<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head ('Error')"></head>

<body>

<div th:replace="fragments/menu :: menu"></div>

<div class="container">
    <div class="row" th:if="${error}">
        <div class="col-12">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Error</h4>
                <p th:text="${error}"></p>
            </div>
        </div>
    </div>

    <footer th:replace="fragments/footer :: footer"></footer>
</div>

<th:block th:include="fragments/js :: assets"></th:block>

</body>
</html>