<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head (#{menu.name})"></head>

<body>

<div th:replace="fragments/menu :: menu"></div>

<div class="container">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4" th:text="#{menu.name}"></h1>
        <p class="lead" th:text="#{index.title}"></p>
    </div>

    <footer th:replace="fragments/footer :: footer"></footer>
</div>

<th:block th:include="fragments/js :: assets"></th:block>
</body>
</html>