<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head (#{schedule})"></head>

<body>

<div th:replace="fragments/menu :: menu"></div>

<div class="container">
    <div th:insert="${lessonSearchError} ? ~{fragments/error :: error(${lessonSearchError})} : ~{}"></div>

    <div class="row justify-content-end mb-3">
        <div class="col-3 d-flex justify-content-end">
            <a th:href="@{|/lessons/create|}" class="btn btn-primary">Create</a>
        </div>
    </div>

    <div class="row mb-3 align-items-end">
        <div class="col-9 d-flex">
            <form th:action="@{/lessons/find}" class="d-flex align-items-end justify-content-between w-100">
                <div>
                    <input type="date" name="startDate" th:value="${startDate}" class="form-control" id="start-date">
                </div>

                <div>
                    <input type="date" name="endDate" th:value="${endDate}" class="form-control" id="end-date">
                </div>

                <div>
                    <label for="teacher-id" th:text="#{teacher}"></label>
                    <select class="form-control" id="teacher-id" name="teacherId">
                        <option th:each="teacher : ${teachers}"
                                th:value="${teacher.id}"
                                th:selected="${currentTeacher.id == teacher.id}"
                                th:text="${teacher.firstName} + ' ' + ${teacher.lastName}"
                        ></option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary" th:text="#{button.search}"></button>
            </form>
        </div>
        <div class="col-3">
            <form th:action="@{/lessons/pdf}" class="text-right">
                <input hidden type="date" name="startDate" th:value="${startDate}">
                <input hidden type="date" name="endDate" th:value="${endDate}">
                <input hidden type="text" name="teacherId" th:value="${currentTeacher.id}">
                <button type="submit" class="btn btn-primary" th:text="#{download.pdf}"></button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-striped" aria-describedby="All lessons">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" th:text="#{form.group}"></th>
                    <th scope="col" th:text="#{address}"></th>
                    <th scope="col" th:text="#{classroom}"></th>
                    <th scope="col" th:text="#{teacher}"></th>
                    <th scope="col" th:text="#{date}"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="lesson : ${lessons}">
                    <th th:text="${lesson.id}"/>
                    <td th:text="${lesson.getGroup().name}"/>
                    <td th:text="${lesson.getClassroom().getBuilding().address}"/>
                    <td th:text="${lesson.getClassroom().number}"/>
                    <td th:text="${lesson.getTeacher().firstName} + ' ' + ${lesson.getTeacher().lastName}"/>
                    <td th:text="${#temporals.format(lesson.date, 'dd-MM-yyyy HH:mm')}"/>
                    <td>
                        <a th:href="@{|/lessons/show/${lesson.id}|}" class="btn btn-primary" th:text="#{button.show}"></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <th:block th:if="${lessonWeeks}">
                <nav th:replace="fragments/lesson-pagination :: lessonPagination ('lessons/find', ${currentTeacher.id},
            ${startDate}, ${endDate}, ${lessonWeeks}, ${currentPage})"></nav>
            </th:block>
        </div>
    </div>

    <footer th:replace="fragments/footer :: footer"></footer>
</div>

<th:block th:include="fragments/js :: assets"></th:block>

</body>
</html>