<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head (#{menu.courses})"></head>

<body>

<div th:replace="fragments/menu :: menu"></div>

<div class="container">
    <div class="row justify-content-end mb-3">
        <div class="col-3 d-flex justify-content-end">
            <a th:href="@{|/courses/create|}" class="btn btn-primary">Create</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-striped" aria-describedby="All courses">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" th:text="#{course}"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="course : ${courses}">
                    <th th:text="${course.id}"/>
                    <td th:text="${course.name}"/>
                    <td>
                        <a th:href="@{|/courses/show/${course.id}|}" class="btn btn-primary" th:text="#{button.show}"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <footer th:replace="fragments/footer :: footer"></footer>
</div>

<th:block th:include="fragments/js :: assets"></th:block>

</body>
</html>