<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head (#{menu.students})"></head>

<body>

<div th:replace="fragments/menu :: menu"></div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-striped" aria-describedby="All students">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" th:text="#{form.name}"></th>
                    <th scope="col" th:text="#{form.lastname}"></th>
                    <th scope="col" th:text="#{form.email}"></th>
                    <th scope="col" th:text="#{form.group}"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="student : ${students.content}">
                    <th th:text="${student.id}"/>
                    <td th:text="${student.firstName}"/>
                    <td th:text="${student.lastName}"/>
                    <td th:text="${student.email}"/>
                    <td th:text="${student.group == null} ? 'No group' : ${student.group.name}"/>
                    <td>
                        <a th:href="@{|/students/show?id=${student.id}|}" class="btn btn-primary" th:text="#{button.show}"></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <nav th:replace="fragments/pagination :: pagination ('students', ${students})"></nav>
        </div>
    </div>

    <footer th:replace="fragments/footer :: footer"></footer>
</div>

<th:block th:include="fragments/js :: assets"></th:block>

</body>
</html>
