<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="menu" class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal" th:text="#{menu.name}"></h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" th:href="@{/}" th:text="#{menu.main}"></a>
        <a class="p-2 text-dark" th:href="@{/students/1/3}" th:text="#{menu.students}"></a>
        <a class="p-2 text-dark" th:href="@{/lessons/}" th:text="#{schedule}"></a>
    </nav>
    <a class="btn btn-outline-primary" th:href="@{/students/create}" th:text="#{menu.sign}"></a>
    <a class="btn btn-outline-danger ml-2" th:href="@{/students/showLogin}" th:text="#{menu.login}"></a>
</div>
</body>
</html>